body{
    font-family: fantasy;
    background-image: url(/static/img/bg_login.jpg);
}
.maincontent{
    padding-top: 100px;
}
.logout_button{
    font-family:'Goudy Old Style';
} 
  .container {
    padding: 18px;
    margin-top: 35px;
    height: 0;
  }

.article_create_form{
    margin-bottom: 20px;
    background-color: rgba(93, 85, 85, 0.8);
    border-radius: 10px;
    position: static;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.article_create_form textarea{
    resize: vertical;
    font-family: 'Courier New', Courier, monospace;
    font-weight:900 ;
    border-color: blue;
    border-radius: 10px;
    background-color: rgb(107, 102, 102);
    width: 100%;
    height: 50%;
    min-height: 50%;
}
.article_input{
    margin-top: 20px;
    font-size: 20px;
    font-family:'Goudy Old Style';
}

input[type=text]{
    color: #eeeeee;
    text-align: center;
    align-items:center;
    background: none;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    font-size: 15px;
    border-bottom: 2px solid rgb(31, 0, 131);
}
.logs_block{
    margin-top: 40px;
    max-height: 400px;
    max-width: 50%;
    text-align: left;
    border: 4px;
    border-style: solid;
    background-color:lightgrey;
    font-size: 150%;
    font-weight: 100;
    padding: 20px;
    margin-left: 80px;
    overflow-y: scroll;
}
.mails{
    top:100px ;
    text-decoration: none;
    word-wrap: break-word;
    overflow:scroll;
    background-color: rgb(116, 112, 112);
    border-radius: 10px;
    position: static;
    width: 90%;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
}
.project_create{
    margin-top: 450px;
}
.rss_keys_block{
    border: 4px;
    border-style: solid;
    background-color:lightgrey;
    font-weight:300;
    padding: 2px;
}
.mail_block{
    margin-top: 10px;
    margin-bottom: 40px;
    border: 4px;
    border-style: solid;
    background-color:lightgrey;
    font-weight: 100;
    padding: 20px;
}
.ans{
    padding: 5px;
    background-color: green;
    border-radius: 5px;
    color: white;
}
.del{
    margin: 20px;
    color: red;
}
.del input{
    background-color: red;
    color: white;
    border-color: white;
    bor
    font-weight: bolder;
}
a{
    text-decoration: none;
}
.text{
    white-space: pre-wrap; 
    width: 95%;
}