body{
    background-color: black;
}
.card {
    padding: 20px;
    background-color: darkgrey;
    
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 9px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    margin-bottom: 50px;
    width: 90%;
    text-align: right;
    border-bottom: 3px solid;
    border-top-right-radius: 40px;
    border-left: 3px solid;
    border-color: blue;
    border-bottom-left-radius: 40px;

}

.container {
    padding: 2px 16px;
}
.des{
    text-align:left;
}
.card pre{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, с 1999 года*/
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-size: 30px;
    width: 70%;
    border-top: 3px solid;
    border-right: 3px solid;
    border-top-right-radius: 40px;
    border-color: green;
}
.button {
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.delbutton {
    float: right;
    text-align: right;
    border-radius: 10px;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}