.image {
	position	: relative;
	 /* for IE 6 */
	height:min-content;
}

h2 {
	font-family: Tahoma, sans-serif;
	font-size: 150%;
	font-weight: bold;
	color: #ffffff;
	background-color: rgba(0, 128, 0, 0.801);
	position	: absolute;
	top: 10%;
	width: 90%;
	margin: 5%;
	border-radius: 20px;
	padding: 1%;
	text-align: center;
}
li{
	list-style: none;
}