{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block html_head %}
  <link href="{{ url_for('static', filename='css/about.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="description right">
  <pre>
    В наше время организовать работу предприятия становится
    всё сложнее: аренда помещения, найм работников,
    бухгалтерский учёт. Новая уровень сложности начинается
    при разовом проекте, для которого требуется найти
    подрядчика для изготовления продукта или команду
    персонала. Именно тут мы можем прийти вам на помощь,
    позволив сосредоточится на более важных задачах.
    Владея составленной базой проверенного персонала
    мы поможем вам в наикратчайшие сроки найти человека,
    готового взяться за заказ по приемлемой стоимости, с
    гарантией выполннения в срок и с должном уровнем качества.
  </pre>
</div>
{% endblock %}