<!doctype html lang="ru">
<html class="no-js" lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{{ url_for('static', filename='css/base.css') }}" type="text/css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% block html_head %}
    {% endblock %}
  </head>
  <body>
    <nav>
      <div id="logo">
        <img height="110px" src="{{url_for('static', filename='img/logo_main.png')}}">
        <h4 href="tel:79264946464">+7 (926) 494 64 64</h4>
      </div>
      <center>
      
      <label for="drop" class="toggle">Меню</label>
      </center>
      <input type="checkbox" id="drop" />
          <ul class="menu">
              <li><a href="/home">Главная</a></li>
              <li><a href="/about">О нас</a></li>
              


<!--
              <li>
                  <label for="drop-1" class="toggle">about</label>
                  <a href="/about">О нас</a>
                  <input type="checkbox" id="drop-1"/>
                  <ul>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                  </ul> 

              </li>
-->
          </ul>
      </nav>
    {% block content %}
    {% endblock %}
    <footer>
      <section id="nisanude_chas_kovesla">
      <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
      <h5>Разделы</h5>
      <ul class="list-unstyled quick-links">
      <li><a href="/home"><i class="fa fa-angle-double-right"></i>Главная</a></li>
      <li><a href="/about"><i class="fa fa-angle-double-right"></i>О нас</a></li>
      </ul>
      </div>

      </div>
      <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
      <ul class="list-unstyled list-inline social text-center">
      <li class="list-inline-item"><a href="https://vk.com/soul_slayer"><i class="fa fa-vk"></i></a></li>
      <li class="list-inline-item"><a href="mailto:deepblh@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
      </ul>
      </div>
      </hr>
      </div>  
      <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
      <p class="h6">© Маринченко А. О., 2022 — {{year}}<a class="text-green ml-2" href="http://pmsa.ru/" target="_blank">Pmsa.Ru</a></p>
      </div>
      </hr>
      </div>  
      </div>
      </section>
    </footer>
  <body>
  </footer>
  </html>
