<head>
    <link href="{{ url_for('static', filename='css/navbar.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/control_panel.css') }}" type="text/css" rel="stylesheet">
</head>
<body>
    {%block body%}
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('logout') }}">logout</a></li>
            </ul>
        </nav>
        </center>
        <center>
            <div class="maincontent2">
                <div class='mails'>
                    <center>
                        <h1>Заявки</h1>
                        {%for em in mails%}
                        <center>
                            <div class='mail_block'>
                            <h5>{{ em.date }}</5>
                            <h4>{{ em.email }}</h4>
                            <h4>{{ em.tel }}</h4>
                            <h3>{{em.name}}</h3>
                            <h3>{{em.subject}}</h3>
                            <h3>{{em.client}}</h3>
                            <pre class="text">{{ em.text }}</pre>
                            <a class="ans" href="mailto:{{em.email}}">Почта</a>
                            <a class="ans" href="tel:{{em.tel}}">Звонок</a>
                            <form action="/mail/{{em.id}}/del" onSubmit="return confirm('Для удаления заявки нажмите OK'); " class="del">
                                <input name="del" type="submit" value="Удалить">
                            </form>
                            </div>
                        </center>
                    {% endfor %}
                    </center>
                </div>
            </div>
        </center>
    {% endblock %}
</body>