<head>
    <link href="{{ url_for('static', filename='css/navbar.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/control_panel.css') }}" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
    {%block body%}
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('logout') }}">logout</a></li>
            </ul>
        </nav>
        </center>
        {%for em in mails%}
            <center>
                <div class="card">

                    <h1>{{em.client}}</h1>
                    <div class="container">
                        <h3>Дата заявки: {{ em.date }}</3>
                        <div class="des">
                            <h2>Вид услуг: {{em.subject}}</h2>
                            <h2>Имя: {{em.name}}</h2>
                            <pre>{{ em.text }}</pre>
                            <form action="/mail/{{em.id}}/del" onSubmit="return confirm('Для удаления заявки нажмите OK'); " class="del">
                                <input class="delbutton" name="del" type="submit" value="Удалить">
                            </form>
                            <a class="button" href="mailto:{{em.email}}">Почта</a>
                            <a class="button" href="tel:{{em.tel}}">Звонок</a>


                        </div>
                    </div>
                </div> 

            </center>
        {% endfor %}
    {% endblock %}
</body>