{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block html_head %}
  <link href="{{ url_for('static', filename='css/home.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}
<pre>
  Как в каждой настоящей семье,
  в лысогорском доме жило вместе несколько совершенно
  различных миров, которые, каждый удерживая свою особенность
  и делая уступки один другому, сливались в
  одно гармоническое целое. Каждое событие,
  случавшееся в доме, было одинаково — радостно 
  или печально — важно для всех этих миров; но 
  каждый мир имел совершенно свои, независимые 
  от других, причины радоваться или печалиться 
  какому-либо событию. Так приезд Пьера было 
  радостное, важное событие, и таким оно 
  отразилось на всех. Слуги, вернейшие 
  судьи господ, потому что они судят не по разговорам и выраженным чувствам, а по действиям и образу жизни, — были рады приезду Пьера, потому что при нем, они знали, граф перестанет ходить ежедневно по хозяйству и будет веселее и добрее и еще потому, что всем будут богатые подарки к празднику. Дети и гувернантки радовались приезду Безухова, потому что никто так не вовлекал их в общую жизнь, как Пьер. Он один умел на клавикордах играть тот экосез (единственная его пьеса), под который можно танцевать, как он говорил, всевозможные танцы, и он привез, наверное, всем подарки. Николенька, который был теперь пятнадцатилетний худой, с вьющимися русыми волосами и прекрас
</pre>
{% endblock %}