{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block html_head %}
	<link href="{{ url_for('static', filename='css/req_form.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
  <div class="row main-form">
    <form method="POST" action="/mail_request">
    
    <div class="form-group">
      <label for="name" class="cols-sm-2 control-label">Ваше Имя</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          <input type="name" class="form-control" name="name" id="name" placeholder="Введите ваше имя"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="cols-sm-2 control-label">Ваша Почта</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          <input type="email" class="form-control" name="email" id="email" placeholder="Введите вашу Почту"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="cols-sm-2 control-label">Ваш номер телефона</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          <input type="phone" class="form-control" name="tel" id="tel" placeholder="Введите ваш номер"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="cols-sm-2 control-label">Вид услуг</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          <input type="subject" class="form-control" name="subject" id="subject" placeholder="Введите вид услуг"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="cols-sm-2 control-label">Описание услуги</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          <input type="text" class="form-control" name="text" id="text" placeholder="Описание|уточнение"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="cols-sm-2 control-label">Вы являйтесь:</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          <select class="select-req" name="client" id="client">
            <option value="Заказчик">Заказчиком</option>
            <option value="Исполнитель">Исполнителем</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="cols-sm-10">
        <div class="input-group">
          <div class="recaptcha">
            {{ recaptcha }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group ">
      <button type="submit" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Отправить</button>
    </div>
    
    </form>
  </div>
{% endblock %}